@font-face {
    font-family: "Tamburine";
    src: url("../fonts/Tamburin_Modern.ttf");
}

@font-face {
    font-family: "AmalteaOne";
    src: url("../fonts/AmalteaOne.ttf");
}

html,
body {
    height: auto;
    width: auto;
    padding: 4px;
    margin: auto;
}

body {
    background-color: aliceblue;
    min-width: 900px;
}

html {
    position: relative;
    min-height: 100%;
}

.container {
    padding-bottom: 100px;
}

.title {
    text-align: center;
}

.menu {
    color: brown;
    font-size: 11pt;
    display: flex;
    font-style: italic;
    margin: 0;
    /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0;
    /*убираем левый отступ, равный 40px*/
}

li > a,
ol > a {
    color: brown;
}

.spisok {
    list-style-type: none;
    /*    display: inline-block;*/
}

a {
    text-decoration: none;
    /* Отменяем подчеркивание у ссылки */
}

a:hover {
    color: fuchsia;
    text-decoration: none;
}

a:visited {
    color: #900060;
    /* Цвет посещенных ссылок */
}

p {
    font-family: Tamburine, sans-serif;
}

.glav:hover {
    color: #835b26;
}

p:first-child {
    color: red;
}

.podval {
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    flex: 0 0 auto;
    margin-top: 14px;
    text-align: center;
    font-family: AmalteaOne, sans-serif;
    padding: 1rem;
    background-color: #87bcf0;
}

.nazvanie {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.niz {
    font-family: AmalteaOne;
}

.simple {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detail {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.parameter {
    width: 25%;
    font-weight: 300;
    font-style: oblique;
    background-color: cornsilk;
}

.elem {
    color: black;
    list-style-type: lower-alpha;
    text-align: justify;
}

#name,
#surname,
#email {
    width: 260px;
    height: 18px;
}

input[type="text"] {
    color: brown;
    font-size: 16px;
    font-style: italic;
    text-transform: capitalize;
}

#topic,
#message {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

#topic {
    font-style: oblique;
    font-weight: bold;
}

#email {
    background-color: #bff8ed;
    color: saddlebrown;
}

.image {
    border: 2px solid green;
}

hr {
    color: black;
}

#topic:focus,
#emal:focus,
#message:focus {
    background: #ffe;
    /* Цвет фона */
    border: 1px solid #29B0D9;
    /* Параметры рамки */
}

.button {
    text-align: center;
}

.simple::first-letter {
    font-style: oblique;
    font-size: 20px;
}

.opisanie > p:first-child {
    color: black;
    font-style: normal;
}

table,
td {
    border: 2px solid black;
}

.tname {
    text-align: center;
}