@font-face {
    font-family: "Tamburine";
    src: url("../fonts/Tamburin_Modern.ttf");
}

body {
    background-color: aliceblue;
}
.title {
    text-align: center;
}
.menu {
    color: brown;
    font-size: 11pt;
    font-style: italic;
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
li>a, ol>a {
    color: brown;
}

li {
    list-style-type: none;
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 

p {
    font-family: Tamburine;
}

.podval {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #87bcf0;
  text-align: center;
}